data/cqa_base_models/BERT_vec_pred/*.pkl
data/cqa_base_models/BERT_vec_pred/*num_epochs.txt
data/cqa_data/*/*.gz
data/cqa_ref_scores
*output.log
*err.log
*out.log
data/coala_ref_vals*
data/cache/*
data/summary_vectors/*
GPPRL-DocSum.zip
summariser/rouge/ROUGE-RELEASE-1.5.5/sample-output/*
summariser/rouge/ROUGE-RELEASE-1.5.5/docs
transformers
*.old
data/bert_ref_vals*
**.DS_Store
BERT_cQA_vec_pred
summariser/rouge/ROUGE-RELEASE-1.5.5/sample-test/*
data/summary_vectors*
rouge_temp_files
data/coala_vec_pred/qa_vec_coala/*
results_coala
data/coala*
*.err.*
*.out.*
plots*
results/*
results/*.pkl
__pycache__/resources.cpython-36.pyc
*.pyc
**/*.pyc
**/**/__pycache__
env
**.pyc
.idea
.idea_tmp
data/summary_vectors_saved.csv
profile.txt
stage1.cprof
results/comparison_Eimp/
stage1_active_pref_learning.py.old
results_old
results_started-*
results_started*
results/DUC01
results/learner_*.pkl
results/metric_file_random.pkl
results/metrics_*.pkl
results/results_old
results/results_started-*
results/started-*
stage1.profile
results
results_before-02-04
stage1.prof
.stage1_active_pref_learning.py.swp
